{% extends "base.html" %}

{% block content %}

<div id="chat-box">

    <div id="messages"></div>

    <div id="input-area">

        <button id="upload-btn">📎</button>

        <!-- zone affichage fichier -->
        <div id="file-preview" style="display: none;">
            <span id="file-name"></span>
            <button id="remove-file">✖</button>
        </div>

        <textarea id="user-input" placeholder="Écrire un message..."></textarea>

        <button id="send-btn">Envoyer</button>

    </div>

</div>

{% endblock %}